<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <style>
        /* -------------------------footer--------------------------------*/
/* footer부분*/



body {
	margin:auto;
	
}


footer {
    background-color:#2B7C1E;
    margin-top:8%;
    padding : 20px;
    text-align:center;
    
}

footer p {
    color : white;
}



    </style>
</head>
<body>
    
    <footer>
        <div id="wrapper">
            <p><small>&copy; 2023 by Mat Cat Powered by MATCAT Team</small></p>
        </div>
    </footer>
</body>
</html>