<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>boardList</title>
    <link rel="stylesheet" href="/css/help.css">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>


<!-- 폰트 구해서 나중에 추가하면서 폰트 사이즈 수정 필요-->

<body>
	<th:block layout:fragment="content">
    <!-- 해당 부분도 변수를 주고 게시판 카테고리를 주면 맞는 값을 가져올 수 있는지? -->
    <div id="helphead" class="row rounded" style="margin: auto; width: 98%;">
        <h1 class="text-light text-center m-3">공 지 사 항</h1>
    </div><br>
    <!---------------------------------------------------------------------------->
        <div id="allthing">
            <hr class="border border-success">
            <div class="d-flex flex-wrap justify-content-around row-cols-auto">
                <div class="col-1 text-center">no</div>
                <div class="col-8 text-center">제목</div>
                <div class="col-2 text-center">날짜</div>
                <div class="col-1 text-center">작성자</div>
            </div>
            <hr class="border border-success">
            <!-- 부트스트랩 success 색상으로 할지, css로 색상 먹일지 고민중 -->
            <th:block th:each="board : ${ boardList }" th:if="${ board.selectType == '2' }"> <!-- 해당부분 좀 더 알아보고 수정할게요.... -->
                <div class="d-flex flex-wrap justify-content-around row-cols-auto"
                    th:onclick="|location.href='/board/boardDetail?postCode=${board.postCode}'|">
                    <div class="col-1 text-center" th:text="${ board.postCode }"></div>
                    <div class="col-8 text-center" th:text="${ board.postTitle }"></div>
                    <div class="col-2 text-center" th:text="${ board.reportDate }" style="font-size: smaller;"></div>
                    <div class="col-1 text-center" th:text="${ board.writer.memberName }"></div>
                    
                </div>
                
                <hr>
            </th:block><!-- each문, 10개씩 보이게 설정 -->
        </div><br><br><br><br><br><br>
        <div id="paging" align="center" style="margin-top: 20px;">

		<th:block
			th:if="${ paging.searchCondition != null and paging.searchValue != null }">
			<!-- 맨 앞으로 이동 -->
			<button
				th:onclick="'location.href=\'/board/boardList?page=1&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''"
				class="btn btn-success" th:disabled="${ paging.page <= 1 }">&lt;&lt;</button>

			<!-- 이전 페이지로 이동 -->
			<button
				th:onclick="'location.href=\'/board/boardList?page=' + @{${paging.page - 1}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''"
				th:disabled="${ paging.page <= 1 }" class="btn btn-success">&lt;</button>

			<!-- 숫자 버튼 -->
			<th:block
				th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">
				<button
					th:onclick="'location.href=\'/board/boardList?page=' + @{${page}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''"
					th:text="${ page }" th:disabled="${ paging.page eq page }" class="btn btn-success">
				</button>
			</th:block>

			<!-- 다음 페이지로 이동 -->
			<button
				th:onclick="'location.href=\'/board/boardList?page=' + @{${paging.page + 1}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${searchValue}} + '\''"
				th:disabled="${ paging.page >= paging.maxPage }" class="btn btn-success">></button>

			<!-- 맨 끝으로 이동 -->
			<button
				th:onclick="'location.href=\'/board/boardList?page=' + @{${paging.maxPage}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${searchValue}} + '\''"
				class="btn btn-success" th:disabled="${ paging.page >= paging.maxPage }">>></button>

		</th:block>

		<th:block
			th:if="${ paging.searchCondition == null || paging.searchCondition.isEmpty() || paging.searchValue == null || paging.searchValue.isEmpty()}">
			<!-- 맨 앞으로 이동 -->
			<button th:onclick="'location.href=\'/board/boardList?page=1\''" class="btn btn-success"
			th:disabled="${ paging.page <= 1 }">&lt;&lt;</button>

			<!-- 이전 페이지로 이동 -->
			<button
				th:onclick="'location.href=\'/board/boardList?page=' + @{${paging.page - 1}} + '\''"
				th:disabled="${ paging.page <= 1 }" class="btn btn-success">&lt;</button>

			<!-- 숫자 버튼 -->
			<th:block
				th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">
				<button
					th:onclick="'location.href=\'/board/boardList?page=' + @{${page}} + '\''"
					th:text="${ page }" th:disabled="${ paging.page eq page }" class="btn btn-success">
				</button>
			</th:block>

			<!-- 다음 페이지로 이동 -->
			<button
				th:onclick="'location.href=\'/board/boardList?page=' + @{${paging.page + 1}} + '\''"
				th:disabled="${ paging.page >= paging.maxPage }" class="btn btn-success">></button>

			<!-- 맨 끝으로 이동 -->
			<button
				th:onclick="'location.href=\'/board/boardList?page=' + @{${paging.maxPage}} + '\''"
				class="btn btn-success" th:disabled="${ paging.page >= paging.maxPage }">>></button>
		</th:block>

            <button onclick="location.href='../board/adminWrite'" class="btn btn-success" id="insertbtn" sec:authorize="hasRole('ADMIN')">글쓰기</button>
        </div>

            <form id="searchForm" action="/board/boardList" method="get"
			style="display: inline-block">
			<select id="searchCondition" name="searchCondition">
				<option value="content"
					th:selected="${ paging.searchCondition eq 'postContent'}">내용</option>
				<option value="title"
					th:selected="${ paging.searchCondition eq 'postTitle'}">제목</option>
			</select> <div id="searchBox">
                <input type="search" id="searchValue" name="searchValue" th:value="${ paging.searchValue }">
                <button type="submit" class="btn btn-success">검색하기</button></div>
		</form>
    </th:block>


</body>

</html>