<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/css/findId.css">
	<title>findId</title>
</head>
<body class="container">
	<div th:replace="/member/header.html"></div>
	
	<div class="login-container">
	
		<h1 id=idsearchname align="center">아이디 찾기</h1>
		<form id="findId" action="/member/findId" method="post">
			<table id="text-box">
				<tr class="name">
					<th class="insertid">
						<label class="text">이름</label>
					</th>
					<td>
						<input type="text" name="memberName" class="nameInsert" required>
					</td>
				</tr>
				<tr class="phone">
					<th>
						<label class="text">전화번호</label>
					</th>
					<td>
						<input type="text" name="memberPhone" class="Phone" required>
					</td>
				</tr>
				<tr class="email">
					<th>
						<label class="text">이메일</label>
					</th>
					<td>
						<input type="email" name="memberEmail" class="Email" required>
					</td>
				</tr>
				<div id="centerplz">
					<input type="submit" value="아이디 찾기" id="findMyId">
				</div>
			</table>
		</form>
	</div>
</body>
</html>