<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <style> 
        
		/* 로그인 헤더 */
		.regist_header {
   		 display:flex;
   		 margin-top: 5%;
    	 margin-right:10%;
    	 justify-content: center;
}
		/* 헤더 MATCAT이름*/
		.header_name {
  		 margin-top:5%;
   		 margin-left:3%;
   		 font-size: 40px;
   		 color: #000000;
   		 opacity: 0.5;
   		 text-decoration: none;
}	
        
        </style>
        
    </head>
    <body>
 
        <div class="regist_header">
            <img src="/image/고양이.png" width="10%" id="matcat">
            <a class="header_name" href="/main">MATCAT</a>
        </div>

    </body>
</html>