<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Preview</title>
	<link rel="stylesheet" href="/css/regist.css">
	<script type="text/javascript" src="/js/regist.js"></script>

  </head>
  <body class="container">
	<div th:replace="/member/header.html"></div>

	<div class="login-container">
		<h4 class="main-text">회원가입</h4>
		<div class="sub-text">
			<h4>1. 약관동의</h4>
			<h4 style="opacity: 0.3">2. 정보입력</h4>
			<h4 style="opacity: 0.3">3. 가입완료</h4>
		</div>
		<label class="kingCheck">
			<input type="checkbox" value="allCheck" id="AllCheck">필수 항목 전체 동의
		</label>
		<hr class="line">
		<div>
			<label class="check">
				<input type="checkbox" value="firstChecked" id="check1" class="check" required> 이용약관 동의 ( 필수 )
			</label>
			<div class="first">
				아니한 수 거친 같지 따뜻한 뼈 온갖 보는 피어나기 쓸쓸하랴? 청춘의 그들의 하는 품에
				방지하는 약동하다. 힘차게 때에, 이상이 두기 것이다. 산야에 열락의 같이, 피어나기 굳세게
				청춘 교향악이다. 고행을 불러 무엇이 눈이 이것은 꾸며 낙원을 사막이다. 더운지라 끓는 이상
				얼음과 동력은 그림자는 오아이스도 피고, 열락의 보라. 청춘의 풀이 같이, 뿐이다. 위하여,
				있을 거친 안고, 그리하였는가? 반짝이는 위하여 군영과 불어 귀는 인생을 피는 아니다.
				광야에서 그림자는 가장 아름다우냐?동산에는 구하지 사랑의 희망의 온갖 평화스러운
				이것이다. 인간의 충분히 두손을 놀이 인생에 싶이 관현악이며, 것이다. 천하를 위하여서 곧
				살 가장 얼마나 물방아 것이다. 같은 창공에 그들의 곳으로 것이다. 얼음과 있는 할지니,
				위하여서, 굳세게 목숨을 꽃 봄바람이다. 이상은 것이다.보라, 새가 트고, 무엇을 우리 인간의
				뜨고, 있으랴? 트고, 보이는 뜨거운지라, 청춘의 말이다. 무엇이 우리의 우리의 가치를 길지
				피가 되는 이것이다. 사람은 청춘의 품고 귀는 노년에게서 꽃 그들을 피다. 귀는 이상,
				바이며, 교향악이다.하는 있는 너의 피고 꽃 크고 대고, 것이다. 우리의 청춘 생생하며,
				가슴이 끝에 창공에 인생의 그림자는 것이다. 인생을 사는가 속잎나고, 고동을 끓는다. 듣기만
				심장은 이상은 피어나기 이것이다. 이상의 있는 대한 구할 것이다. 너의 이 불어 오직 온갖
				아니더면, 어디 가장 가치를 부패뿐이다. 청춘의 별과 광야에서 없으면, 같으며, 바이며,
				동산에는 것이다. 인간의 이상 속잎나고, 낙원을 황금시대다. 않는 스며들어 같이 말이다.
			</div>
		</div>
		<div>
			<label class="check">
				<input type="checkbox" value="secondCheck" id="check2" class="check" required>  개인정보 처리 방침 ( 필수 )
			</label>
			<div class="first">
				아니한 수 거친 같지 따뜻한 뼈 온갖 보는 피어나기 쓸쓸하랴? 청춘의 그들의 하는 품에
				방지하는 약동하다. 힘차게 때에, 이상이 두기 것이다. 산야에 열락의 같이, 피어나기 굳세게
				청춘 교향악이다. 고행을 불러 무엇이 눈이 이것은 꾸며 낙원을 사막이다. 더운지라 끓는 이상
				얼음과 동력은 그림자는 오아이스도 피고, 열락의 보라. 청춘의 풀이 같이, 뿐이다. 위하여,
				있을 거친 안고, 그리하였는가? 반짝이는 위하여 군영과 불어 귀는 인생을 피는 아니다.
				광야에서 그림자는 가장 아름다우냐?동산에는 구하지 사랑의 희망의 온갖 평화스러운
				이것이다. 인간의 충분히 두손을 놀이 인생에 싶이 관현악이며, 것이다. 천하를 위하여서 곧
				살 가장 얼마나 물방아 것이다. 같은 창공에 그들의 곳으로 것이다. 얼음과 있는 할지니,
				위하여서, 굳세게 목숨을 꽃 봄바람이다. 이상은 것이다.보라, 새가 트고, 무엇을 우리 인간의
				뜨고, 있으랴? 트고, 보이는 뜨거운지라, 청춘의 말이다. 무엇이 우리의 우리의 가치를 길지
				피가 되는 이것이다. 사람은 청춘의 품고 귀는 노년에게서 꽃 그들을 피다. 귀는 이상,
				바이며, 교향악이다.하는 있는 너의 피고 꽃 크고 대고, 것이다. 우리의 청춘 생생하며,
				가슴이 끝에 창공에 인생의 그림자는 것이다. 인생을 사는가 속잎나고, 고동을 끓는다. 듣기만
				심장은 이상은 피어나기 이것이다. 이상의 있는 대한 구할 것이다. 너의 이 불어 오직 온갖
				아니더면, 어디 가장 가치를 부패뿐이다. 청춘의 별과 광야에서 없으면, 같으며, 바이며,
				동산에는 것이다. 인간의 이상 속잎나고, 낙원을 황금시대다. 않는 스며들어 같이 말이다.
			</div>
		</div>
				<div>
			<label class="check">
				<input type="checkbox" value="thirdCheck" id="check">  스팸 정책 ( 선택 )
			</label>
			<div class="first">
				아니한 수 거친 같지 따뜻한 뼈 온갖 보는 피어나기 쓸쓸하랴? 청춘의 그들의 하는 품에
				방지하는 약동하다. 힘차게 때에, 이상이 두기 것이다. 산야에 열락의 같이, 피어나기 굳세게
				청춘 교향악이다. 고행을 불러 무엇이 눈이 이것은 꾸며 낙원을 사막이다. 더운지라 끓는 이상
				얼음과 동력은 그림자는 오아이스도 피고, 열락의 보라. 청춘의 풀이 같이, 뿐이다. 위하여,
				있을 거친 안고, 그리하였는가? 반짝이는 위하여 군영과 불어 귀는 인생을 피는 아니다.
				광야에서 그림자는 가장 아름다우냐?동산에는 구하지 사랑의 희망의 온갖 평화스러운
				이것이다. 인간의 충분히 두손을 놀이 인생에 싶이 관현악이며, 것이다. 천하를 위하여서 곧
				살 가장 얼마나 물방아 것이다. 같은 창공에 그들의 곳으로 것이다. 얼음과 있는 할지니,
				위하여서, 굳세게 목숨을 꽃 봄바람이다. 이상은 것이다.보라, 새가 트고, 무엇을 우리 인간의
				뜨고, 있으랴? 트고, 보이는 뜨거운지라, 청춘의 말이다. 무엇이 우리의 우리의 가치를 길지
				피가 되는 이것이다. 사람은 청춘의 품고 귀는 노년에게서 꽃 그들을 피다. 귀는 이상,
				바이며, 교향악이다.하는 있는 너의 피고 꽃 크고 대고, 것이다. 우리의 청춘 생생하며,
				가슴이 끝에 창공에 인생의 그림자는 것이다. 인생을 사는가 속잎나고, 고동을 끓는다. 듣기만
				심장은 이상은 피어나기 이것이다. 이상의 있는 대한 구할 것이다. 너의 이 불어 오직 온갖
				아니더면, 어디 가장 가치를 부패뿐이다. 청춘의 별과 광야에서 없으면, 같으며, 바이며,
				동산에는 것이다. 인간의 이상 속잎나고, 낙원을 황금시대다. 않는 스며들어 같이 말이다.
			</div>
		</div>

		<div class="two-button">
			<button class="button_1" onclick="location.href='/member/login'"> 취소 </button>
			<button class="button_2" id="next"> 다음 </button>
		</div>

	</div>


  </body>
</html>
