<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
	<style>
        /* -------------------------footer--------------------------------*/
/* footer부분*/



body {
	margin:auto;
	
}


footer {
    background-color:#2B7C1E;
    margin-top:8%;
    margin-left:-17%;
    padding : 20px;
    text-align: center;
    width: 200vh;
    
}

footer p {
    color : white;
}

    </style>
	<footer>
		<div id="footer2">
			<p>
				<small>&copy; 2023 by Mat Cat Powered by MATCAT Team</small>
			</p>
		</div>
	</footer>

</th:block>
</html>