<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
      <th:block th:fragment="rightSideBarFragment">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>rightSidebar</title>
	<style>
		#submenu-fixed {
			font-weight: bold;
			width: 125px;
			height: 180px;
			position: fixed;
			box-shadow: 0px 5px 3px 3px rgb(156, 156, 156);
			border-radius: 20%;
			align-items: center;
			text-align: center;
			left: 78%;
			top: 28%;
		}
	</style>
</head>
<body>
<div id="submenu-fixed">
            <br>
            <a>바로가기</a><br><br>
            <a id="submypage" href="/member/mypage"><img src="/image/submypage.png"></a>
            <a id="subjang" href="/main/cart2"><img src="/image/subjang.png"></a> <br>
            <a id="subhelp" href="/user/userHelp001"><img src="/image/subhelp.png"></a>
            <a id="subhome" href="/main"><img src="/image/subhome.png"></a>
        </div>
</body>
</th:block>
</html>