html {
    width: 100vh;
    height: 100vh;
    background-color: #FBF9F1;
}

body {
    width: 1440px;
    height: 1024px;
    background: #FBF9F1;
    margin-left: 240px;
    margin-right: 240px;
}

.login-container {
    width: 65%;
    height: 619px;
    margin-left: 270px;
    margin-right: auto;
    margin-top: 30px;
    background-color: #f3f0f0;
    box-shadow: 6px 10px 4px 0 rgba(0,0,0,0.25);
    justify-content: center;
    flex-direction: column-reverse;
}

.text {
    padding-right: 50px;
    font-size: 1.25rem;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    margin-bottom: 25px;
    justify-content: center;
}

#findId {
    display: flex;
    align-items: center;
    padding: 20% 10% 5% 10%;
    justify-content: center;
    flex-direction: column-reverse;
}


tr td {
    display: flex;
    padding-left: 100px;
    padding-bottom: 20px;
    justify-content: center;
}

.nameInsert {
    width: 400px;
    height: 35px;
}

.memberId {
    width: 400px;
    height: 35px;
}

.memberPwd {
    width: 400px;
    height: 35px;
}

#findMyId {
    width: 407px;
    height: 35px;
    color: #000000;
    background-color: #72c565;
    cursor: pointer;
    margin-left: 27px;
    margin-top: 40px;
    border: 0px;
    border-radius: 10px;
    font-size: 1.5rem;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

input {
    font-size: 20px;
}
