@charset "UTF-8";

#bigpic {
	width:430px;
	height:335px;
}

body {
	margin : auto;
	width:1440px;
	height:1024px;
}
/* 탑버튼*/
#toTop {
  position: fixed;  
  bottom: 100px;
  display: none;
  z-index: 9999;
}

/* MATCAT 기본 배경 색*/
html {
    background-color: #FBF9F1;
    text-align: center;
	width:100%;
	margin:auto;
}


/* 시작 */

/* 상세페이지 하얀색 배경*/
#whiteback_head {
    background-color: white;
    margin: auto;
    width:60%;
    padding: 3% 3%;
    display: flex;
    justify-content: space-between;
    
}
/* 상단왼쪽 사진과 원재료 설명 */
#topleft {
    max-width: 50%;
    display: flex;
    padding-right: 2%;
    flex-direction: column;
    justify-content: center;
    
}
#sangim {
    padding: 4% 4%;
    margin-top: 4%;
    background-color: #EFE9DF;
    display: flex;
    text-align:left;
    flex-direction: column;
}    

/* 상단오른쪽 메뉴이름과 가격 구매옵션 등등..*/
#topright {
    max-width: 50%;
    padding-left: 2%;   
    
} 
/* 백종원식 부대찌개 큰글자*/
#menuname {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 35px 50px 35px 50px;
    border-top: 2px solid #2B7C1E;
    border-bottom: 2px solid #2B7C1E;
}
/* 백종원식 부대찌개 작은글자*/
#menusmallname {
    padding-top: 10px;
    font-size: 20px;
    display: flex;
}
#statusprice {
    float: right;
    display: flex;
    flex-direction: column;
    margin-top: -30px;
}
#menuprice {
    font-size: 25px;
}
#buy {
    margin-top: 42%;
    font-size: 13px;
}
#buymenu {
    padding-top: 30%;
}
.buymenubtn {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    border-radius: 5px;
    color: white;
    background-color:#2B7C1E;
    border: #2B7C1E;
    font-size: 15px;
    box-shadow: 3px 3px rgb(148, 148, 148);
    padding: 5px 170px;
}

.buymenubtn:hover {
    background-color: #5aa94e;
}

.buymenubtn:active {
    color: black;
    background-color: rgb(202, 202, 202);
}

#menuinformation {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    background-color:#ffffff;
    border: 1px solid#000000;
    font-size: 14px;
    box-shadow: 3px 3px rgb(148, 148, 148);
    padding: 10px 170px;
}
#menuinformation:hover {
    background-color: #cdcdcd;
}

/* 상세페이지 바디 부분 시작*/


#outer {
    background-color: white;
    margin: auto;
    width:60%;
    padding: 3% 3%;
}


        #menu {
            display: flex;
            justify-content: center;
            background-color: #B9B9B9;
            color: #000000;
            border-radius: 5px;
            padding: 10px;
            
        }

        p.contents {
            width: 90%;
            height: 90%;
            margin: auto;
            display: none;
        }


/* 상세페이지 바디 끝을 알리는 선  / 리뷰작성공간 시작 */
#bodyend {
    width: 85%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    border: 2px solid #2B7C1E;
}

#review_ground {
    background-color: white;
    margin: auto;
    width:80%;
    padding: 1% 0 1% 3%;
    display: flex;
    
}

#review_head a{
   display: flex;
}



/* 상품 후기 */
#menu_review_head {
    font-size: 2rem;
    margin-bottom: 3%;
}
/* 사진 후기 */
#picture_review {
   opacity: 40%;
}
/* 사진 리뷰 사진들 */
.review_picture {
    width: 14%;
    float: left;
}

#review_writer {
	
	margin-right:4%;
	margin-top:10%;
	 border-radius: 5px;
    color: white;
    background-color:#3a5150;
    border: #2B7C1E;
    font-size:20px; 
}

#review_writer:hover {
	background-color: #cdcdcd;
}

/* 총 32개 */
#reviewcount {
    margin-top:1%;
    margin-bottom: 4%;
    font-size: 10px;
    opacity: 50%;
    width: 96.5%;
    float: left;
    border-bottom: 1px solid#000000;
}
/* 아래 4개 추천순/최신순 버튼*/
#best_sequence {
    font-size: 20px;
    border:#ffffff;
    background-color: white;
   float: right;
   margin-right: 10%;
    margin-top: -3%;
}
#best_sequence:active {
    color: darkgrey;
}
#newest {
    font-size: 20px;
    border:#ffffff;
    background-color: white;
    float: right;
    margin-right: 2%;
    margin-top: -3%;
}
#newest:active {
    color: darkgrey;
}


/* 리뷰 작성   // 회원 // 이름 */
.member_review {
    margin-bottom: 4%;
    float: left;
}
.member_grade {
    padding: 0 3px 0 3px;
    border: 3px solid #5aa94e;
    color: #5aa94e;
    font-size: small;
    float: left;
    
}
.member_name {
    margin-left: 20px;
    float: left;
}
/* 메뉴 이름*/
.menu_name {
    opacity: 50%;
    font-size:small;
    margin-left: 4.4%;
    float: left;
}

.menu_review {
    text-align: left;
    max-width: 900px;
    margin-left: 8.8%;
    margin-bottom: 2%;
    float: left;
}

* 사진 첨부 */
.img_ground {
    width: 80%;
    margin-left: 11.8%;
    float: left;
}
/* 작성 일자 */
#upload_date {
    margin-left: 11.8%;
    float: left;
}
/* 리뷰 끝을 알리는 선*/
#review_endline {
    margin-top: 1%;
    opacity: 50%;
    width: 1100px;
    float: left;
    border-bottom: 1px solid#000000;
}

/* 더보기 */
#review_outer {
    float: left;
    background-color: white;
    margin: auto;
    width:93%;
    padding: 3% 3%;
}
#review_addview {
    opacity: 60%;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}
p.contents2 {
    width: 90%;
    height: 90%;
    display: none;
}

/* 하단에 부가적인 정보 시작*/
#etc {
    background-color: white;
    margin: auto;
    margin-top: 3%;
    width:80%;
    padding: 1% 0 1% 3%;
    display: flex;
    justify-content: space-between;
}


#left_etx {
    font-size: x-large;
    display: flex;
    flex-direction: column;
    text-align: left;
}
#a2 {
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 2rem;
}

.etc_button {
    opacity: 50%;
    font-size: small;
    margin-bottom: 3%;
}


.kakao {
    padding: 1% 4% 1% 4%;
    font-size: medium;
    background-color: #ffffff;
    border: 1px solid#2c2c2c;
}
.etc_email {
    font-size: small;
    opacity: 50%;
}


#right_ect{
    font-size: medium;
    display: flex;
    flex-direction: column;
    text-align: left;
}

#b1 {
    margin-left: 4%;
    margin-bottom: 5%;
    font-size:large;
}
.b2 {
    opacity: 50%;
    font-size: small;
    margin-right: 140px;
}















